<!DOCTYPE html>


<html>
<head>
    <link href="~/Content/StyleCustomer/StyleLayoutHome.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")








</head>

<body>
    <div class="Header">
        <h1> THE WORLD OF THE WATCH   </h1>
        <h5> (THƯƠNG HIỆU ĐỒNG HỒ TỪ 1998)</h5>
        <!--  <input type="text" placeholder="Tìm kiếm sản phẩm...">-->



        @using (Html.BeginForm("Search", "Product", FormMethod.Get))
        {<input type="text" name="searchTerm" placeholder="Tìm kiếm sản phẩm..." />
            <input type="submit" value="Tìm kiếm" />}







    </div>
    <nav>
        <div id="menu1">
            <ul class="menu">
                <li> <a> @Html.ActionLink("Trang Chủ", "trangchu", "Home", new { area = "" }, new { @class = "navbar-brand" }) </a></li>
                <li class="menucon">
                    <a href="@Url.Action("MenWatches", "Home")" style="text-decoration: none;">Đồng Hồ Nam</a>                        <ul class="PhongCach">
                        <li>
                            <a href="#">Khoảng giá</a>
                            <ul class="Khoanggia">
                                <li><a href="#">Dưới 2 Triệu</a></li>
                                <li><a href="#">Từ 2-3 Triệu</a></li>
                                <li><a href="#">Từ 3-4 Triệu</a></li>
                                <li><a href="#">Từ 4-5 Triệu</a></li>
                                <li><a href="#">Trên 5 Triệu</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Thương hiệu</a>
                            <ul class="Thuonghieu">
                                <li><a href="#">Casio</a></li>
                                <li><a href="#">Citizen</a></li>
                                <li><a href="#">KOI</a></li>
                                <li><a href="#">Orient</a></li>
                                <li><a href="#">G-Shock</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Chất liệu dây</a>
                            <ul class="Day">
                                <li><a href="#">Dây kim loại</a></li>
                                <li><a href="#">Dây da</a></li>
                                <li><a href="#">Dây nhựa/Cao su</a></li>
                                <li><a href="#">Dây Titanium</a></li>
                                <li><a href="#">Dây vải</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Swiss made(Thụy sĩ)</a>
                            <ul class="Swissmade">
                                <li><a href="#">Longgines</a></li>
                                <li><a href="#">Doxa</a></li>
                                <li><a href="#">Titoni</a></li>
                                <li><a href="#">Tissot</a></li>
                                <li><a href="#">Frederique Constant</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Các dòng đặc biệt</a>
                            <ul class="Dacbiet">
                                <li><a href="#">Đồng hồ nam Nhật Bản</a></li>
                                <li><a href="#">Đồng hồ siêu mỏng</a></li>
                                <li><a href="#">Đồng hồ đính kim cương</a></li>
                                <li><a href="#">Đồng hồ lộ máy ( Skeleton)</a></li>
                                <li><a href="#">Đồng hồ vàng 18K</a></li>
                                <li><a href="#">Đồng hồ phiên bản giới hạn</a></li>
                                <li><a href="#">Đồng hồ nam đính đá</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menucon">
                    <a href="@Url.Action("WomenWatches", "Home")" style="text-decoration: none;">Đồng Hồ Nữ</a>
                    <ul class="PhongCach">
                        <ul class="PhongCach">
                            <li>
                                <a href="#">Khoảng giá</a>
                                <ul class="Khoanggia">
                                    <li><a href="#">Dưới 2 Triệu</a></li>
                                    <li><a href="#">Từ 2-3 Triệu</a></li>
                                    <li><a href="#">Từ 3-4 Triệu</a></li>
                                    <li><a href="#">Từ 4-5 Triệu</a></li>
                                    <li><a href="#">Trên 5 Triệu</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Thương hiệu</a>
                                <ul class="Thuonghieu">
                                    <li><a href="#">Casio</a></li>
                                    <li><a href="#">Citizen</a></li>
                                    <li><a href="#">Daniel Wellington</a></li>
                                    <li><a href="#">Soga</a></li>
                                    <li><a href="#">Fossil</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">Chất liệu dây</a>
                                <ul class="Day">
                                    <li><a href="#">Dây kim loại</a></li>
                                    <li><a href="#">Dây da</a></li>
                                    <li><a href="#">Dây lưới</a></li>
                                    <li><a href="#">Dây dạng lắc tay</a></li>
                                    <li><a href="#">Dây vải</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Swiss made(Thụy sĩ)</a>
                                <ul class="Swissmade">
                                    <li><a href="#">Longgines</a></li>
                                    <li><a href="#">Doxa</a></li>
                                    <li><a href="#">Titoni</a></li>
                                    <li><a href="#">Tissot</a></li>
                                    <li><a href="#">Frederique Constant</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Các dòng đặc biệt</a>
                                <ul class="Dacbiet">
                                    <li><a href="#">Đồng hồ nữ Nhật Bản</a></li>
                                    <li><a href="#">Đồng hồ siêu mỏng</a></li>
                                    <li><a href="#">Đồng hồ đính kim cương</a></li>
                                    <li><a href="#">Đồng hồ khám xà cừ</a></li>
                                    <li><a href="#">Đồng hồ nam đính đá</a></li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </li>


                <li class="menucon">
                    <a href="@Url.Action("CoupleWatches", "Home")" style="text-decoration: none;">Đồng Hồ Đôi</a>
                    <ul class="PhongCach">


                        <ul class="PhongCach">
                            <li>
                                <a href="#">Khoảng giá</a>
                                <ul class="Khoanggia">
                                    <li><a href="#">Dưới 2 Triệu</a></li>
                                    <li><a href="#">Từ 2-3 Triệu</a></li>
                                    <li><a href="#">Từ 3-4 Triệu</a></li>
                                    <li><a href="#">Từ 4-5 Triệu</a></li>
                                    <li><a href="#">Trên 5 Triệu</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Thương hiệu</a>
                                <ul class="Thuonghieu">
                                    <li><a href="#">Casio</a></li>
                                    <li><a href="#">Citizen</a></li>
                                    <li><a href="#">Daniel Wellington</a></li>
                                    <li><a href="#">Soga</a></li>
                                    <li><a href="#">Fossil</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">Chất liệu dây</a>
                                <ul class="Day">
                                    <li><a href="#">Dây kim loại</a></li>
                                    <li><a href="#">Dây da</a></li>
                                    <li><a href="#">Dây lưới</a></li>
                                    <li><a href="#">Dây dạng lắc tay</a></li>
                                    <li><a href="#">Dây vải</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Swiss made(Thụy sĩ)</a>
                                <ul class="Swissmade">
                                    <li><a href="#">Longgines</a></li>
                                    <li><a href="#">Doxa</a></li>
                                    <li><a href="#">Titoni</a></li>
                                    <li><a href="#">Tissot</a></li>
                                    <li><a href="#">Frederique Constant</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Các dòng đặc biệt</a>
                                <ul class="Dacbiet">
                                    <li><a href="#">Đồng hồ nữ Nhật Bản</a></li>
                                    <li><a href="#">Đồng hồ siêu mỏng</a></li>
                                    <li><a href="#">Đồng hồ đính kim cương</a></li>
                                    <li><a href="#">Đồng hồ khám xà cừ</a></li>
                                    <li><a href="#">Đồng hồ nam đính đá</a></li>
                                </ul>
                            </li>
                        </ul>
                </li>
            </ul>
        </div>
        <div id="menu2">
            <div class="login">
                <button type="submit" class="btn-login">   @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "btn-login", style = "text-decoration:none;" }) </button>
            </div>
            <div class="giohang">
                <button type="submit" class="btn-giohang">  @Html.ActionLink("Giỏ Hàng", "Giohang", "Product", new { area = "" }, new { @class = "btn-giohang", style = "text-decoration:none;" }) </button>
            </div>
        </div>


    </nav>




    <div class="header">
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <footer style="background-color: #2c2c2c; color: white; padding: 20px 0;">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <h5  style="color:cornflowerblue" >THÔNG TIN LIÊN HỆ</h5>
                    <p><b>CÔNG TY PHÂN PHỐI SẢN PHẨM CAO CẤP THE WORLD OF THE WATCH</b></p>
                    <p>Trụ sở chính:41 Sao Hỏa - Đường Sao Kim - Quận Sao Thủy - Thành Phố Sao Mộc</p>
                    <p>Chi nhánh Sao Kim: 131 Mặt Trăng - Quận Sao Hải Vương - Thành Phố Sao Thổ</p>
                    <p>Hotline: 1900 1000</p>
                    <p>Email: invailid@gmail.com</p>
                    <p>MST: 0102001769</p>
                </div>


                <div class="col-md-2">
                    <h5 style="color:cornflowerblue">DỊCH VỤ</h5>
                    <ul>
                        <li><a href="#" style="color: white; text-decoration:none">Cá nhân hóa (in khắc)</a></li>
                        <li><a href="#" style="color: white; text-decoration: none">Dịch vụ sửa chữa</a></li>
                        <li><a href="#" style="color: white; text-decoration: none">Ưu đãi hội viên </a></li>
                    </ul>
                </div>


                <div class="col-md-2">
                    <h5  style="color:cornflowerblue">VỀ CHÚNG TÔI</h5>
                    <ul>
                        <li><a href="#" style="color: white; text-decoration: none">Giới thiệu </a></li>
                        <li><a href="#" style="color: white; text-decoration: none">Triết lý kinh doanh</a></li>
                        <li><a href="#" style="color: white; text-decoration: none">Chứng nhận thương hiệu</a></li>
                        <li><a href="#" style="color: white; text-decoration: none">Khách hàng nói gì</a></li>
                    </ul>
                </div>

                <div class="col-md-2">
                    <h5 style="color:cornflowerblue" >CHĂM SÓC KHÁCH HÀNG</h5>
                    <ul>
                        <li><a href="#" style="color: white; text-decoration: none">Ưu đãi hội viên</a></li>
                        <li><a href="#" style="color: white; text-decoration: none">Chính sách đổi sản phẩm</a></li>
                        <li><a href="#" style="color: white; text-decoration: none">Chính sách bảo hành</a></li>
                        <li><a href="#" style="color: white; text-decoration: none">Góp ý - Khiếu nại</a></li>
                    </ul>
                </div>

                <
                <div class="col-md-2">
                    <h5 style="color:cornflowerblue" >HƯỚNG DẪN MUA HÀNG</h5>
                    <ul>
                        <li><a style="text-decoration:none; color:white" @Html.ActionLink("Đăng Nhập", "Login", "Account")></a></li>
                        <li><a href="#" style="color: white; text-decoration: none">Hướng dẫn mua hàng</a></li>
                        <li><a href="#" style="color: white; text-decoration: none">Thanh toán</a></li>
                    </ul>
                </div>
            </div>
            <hr style="border-color: gray;">

        </div>
    </footer>
    <div class="footer" ; style="text-align:center">
        <p>&copy; @DateTime.Now.Year - My Watch Store</p>
    </div>
    <div class="footer" ; style="text-align: center">
        <p>© 2024 Trang Bán Hàng</p>
    </div>


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Slide Bar Layout</title>
        <!-- Link đến file CSS -->
        <link href="~/Content/StyleCustomer/SlideBar.css" rel="stylesheet" >
    </head>
    <body>
        <!-- Slide Bar Trái -->
        <button class="chat-button">
            <div class="left-slide-bar" onclick="toggleChatBox()">
                <span class="chat-icon">💬</span>
            </div>
        </button>

        <div id="chat-box" class="chat-box">
            <div class="chat-header">
                <div class="chat-title">
                    <img src="logo.png" alt="Logo" class="chat-logo"> <!-- Thay bằng logo của bạn -->
                    <span>The World Of The Watch</span>
                </div>
                <button class="close-chat" onclick="toggleChatBox()">✖</button>
            </div>
            <div class="chat-body">
                <p>Chúng tôi sẵn sàng trợ giúp. Vui lòng hỏi chúng tôi bất cứ điều gì hoặc chia sẻ phản hồi của bạn</p>
                <div class="chat-options">
                    <button>Mua Hàng Trả Góp</button>
                    <button>Thẩm Định Đồng Hồ Thật Giả</button>
                    <button>Hệ Thống Cửa Hàng</button>
                    <button>Tư Vấn Đồng Hồ Nam</button>
                    <button>Tư Vấn Đồng Hồ Nữ</button>
                    <button>Tham Khảo Chương Trình Khuyến Mại</button>
                    <button>Định Giá và Thu Mua Đồng Hồ Cũ</button>
                </div>
            </div>
            <div class="chat-footer">
                <button class="continue-chat">Tiếp tục chat</button>
            </div>
        </div>



        <div class="right-slide-bar">
            <button onclick="scrollToTop()">⬆</button>
            <button onclick="scrollToBottom()">⬇</button>
        </div>


        <script src="~/Content/JS/JSSlideBar.js"></script>
    </body>

</body>
</html>

