@model IEnumerable<Web_bán_hàng__đồ_án_.Models.Category>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/StyleAdmin/StyleCategory.css" rel="stylesheet" />

<div class="container">
    <h2>Danh mục sản phẩm</h2>
    <p>
        @Html.ActionLink("Thêm danh mục", "Create")
    </p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Tên Danh Mục</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                <div class="action-buttons">
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.CategoryID })
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.CategoryID })
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.CategoryID })
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2" class="no-data">Không có dữ liệu</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>