@model Web_bán_hàng__đồ_án_.Models.RegisterViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
<link href="~/Content/mystyle/StyleLogin.css" rel="stylesheet" />
<!DOCTYPE HTML>
<head lang="vi">
    <meta name="description" content="Tài Khoản Đăng Nhập" />
    <meta charset="utf-8" />
    <title>Đăng nhập/Đăng kí</title>
</head>
<body>
    <div id="TrangLogin">
        <div id="Login">
            <h1>Đăng nhập</h1>
            <div>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post)) {
            <form id="form">
                <div class="Trangchinh">
                    <i class="fas fa-user"></i>
                    <label for="name" class="description">@Html.LabelFor(m => m.UserName)</label><br />
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)

                </div>
                <div class="Trangchinh">
                    <i class="fas fa-lock"></i>
                    <label for="password" class="description"> @Html.LabelFor(m => m.Password)</label><br />
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div id="remember">
                    <label><input type="checkbox" />Nhớ mật khẩu</label>
                    <a href="#">Quên mật khẩu?</a>
                </div>
                <button type="submit" class="btn-login1">Đăng nhập</button>
                <div class="input">
                    <label for="register">Bạn chưa có tài khoản?</label>
                    <a style="color:red" ; href="~/Giohang/register">Đăng kí</a>
                </div>
            </form>
                }
            </div>
        </div>
    </div>
</body>



