@model Web_bán_hàng__đồ_án_.Models.ViewModel.RegisterVM

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
<link href="~/Content/StyleCustomer/StyleLogin.css" rel="stylesheet" />
<!DOCTYPE HTML>
<head lang="vi">
    <meta name="description" content="Tài Khoản Đăng Nhập" />
    <meta charset="utf-8" />
    <title>Đăng nhập/Đăng kí</title>
</head>
<body>
<div id="TrangRegister">
    <div id="Register">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="Username">Tên đăng nhập:</label>
                @Html.TextBoxFor(m => m.Username, new { @id = "Username", @class = "form-control", @required = "required" })
            </div>

            <div class="form-group">
                <label for="Password">Mật khẩu:</label>
                @Html.PasswordFor(m => m.Password, new { @id = "Password", @class = "form-control", @required = "required" })
            </div>

            <div class="form-group">
                <label for="ConfirmPassword">Nhập lại mật khẩu:</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "ConfirmPassword", @class = "form-control", @required = "required" })
            </div>

            <div class="form-group">
                <label for="CustomerName">Họ và tên:</label>
                @Html.TextBoxFor(m => m.CustomerName, new { @id = "CustomerName", @class = "form-control", @required = "required" })
            </div>

            <div class="form-group">
                <label for="CustomerPhone">Số điện thoại:</label>
                @Html.TextBoxFor(m => m.CustomerPhone, new { @id = "CustomerPhone", @class = "form-control", @required = "required" })
            </div>

            <div class="form-group">
                <label for="CustomerEmail">Email (nếu có):</label>
                @Html.TextBoxFor(m => m.CustomerEmail, new { @id = "CustomerEmail", @class = "form-control", @type = "email" })
            </div>

            <div class="form-group">
                <label for="CustomerAddress">Địa chỉ:</label>
                @Html.TextBoxFor(m => m.CustomerAddress, new { @id = "CustomerAddress", @class = "form-control", @required = "required" })
            </div>

            <button type="submit" class="btn">Đăng ký</button>

            <p id="error-message" style="color: red;">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </p>

            <p>Bạn đã có tài khoản? <a style="color:black; text-decoration:none" href="@Url.Action("Login", "Account")">Đăng nhập</a></p>
        }
    </div>
</div>


  </body>
